@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;400;500;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/images/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
